<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Propietario</title>
</head>
<body>
    <h1>DATOS </h1>
    Nombre: {{ propietario.nombre }} <br>
    Apto: {{ propietario.numero_apartamento }}<br>
    Numero telefono: {{ propietario.telefono}}<br>
    Email: {{ propietario.email }}
    <h2>Vehículos:</h2>
    <ul>
        {% for vehiculo in vehiculos %}
            <li>
                {{ vehiculo.marca }}<br> Modelo: {{ vehiculo.modelo }} <br> Matrícula: {{ vehiculo.matricula }}<br> Color: {{ vehiculo.color }}<br>
                <a href="{% url 'actualizar_vehiculo' vehiculo.id %}">Actualizar</a>
                <form action="{% url 'eliminar_vehiculo' vehiculo.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?');">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio</a>
    <form action="{% url 'eliminar_propietario' propietario.id %}" method="post" style="margin-top: 20px;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar a este propietario junto con todos sus detalles?');">Eliminar Propietario</button>
    </form>
</body>
</html>
