<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Vehículo</title>
</head>
<body>
    <h1>Actualizar Vehículo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" value="{{ vehiculo.matricula }}" required><br>
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" value="{{ vehiculo.marca }}" required><br>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ vehiculo.modelo }}" required><br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="{{ vehiculo.color }}" required><br><br>
        <button type="submit">Actualizar</button>
    </form><br>
    <a href="{% url 'index' %}">Volver</a>
</body>
</html>
